node-red/flows (7).json
[{"id":"b67ac6d6.380e28","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"fd44df4b.ead9a","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f2fc2343.2356d","type":"Hikvision-config","host":"192.168.0.101","port":"80","name":"Server","authentication":"digest","protocol":"http","heartbeattimerdisconnectionlimit":"2","deviceinfo":"[object Object]"},{"id":"f32f15b1.d02508","type":"dropbox-config","name":"dropbox pumma"},{"id":"eb73371b.af5208","type":"Hikvision-config","host":"192.168.1.32","port":"80","name":"NVR","authentication":"digest","protocol":"http","heartbeattimerdisconnectionlimit":"1","deviceinfo":"[object Object]"},{"id":"e0f42233.22428","type":"ui_tab","name":"NVR","icon":"dashboard","order":13},{"id":"c1bf19aa.fe7fb8","type":"ui_group","name":"Frame Grab","tab":"e0f42233.22428","order":1,"disp":true,"width":"9","collapse":false},{"id":"4f96de7f.5dc99","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"77c8487b.a08d68","type":"thinger-server","host":"api.thinger.io","name":"","ssl":true,"token":""},{"id":"8451ce50.7303d","type":"thinger-server","host":"https://api.thinger.io","name":"thinger","ssl":true,"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJwdW1hIiwidXNyIjoiYWRlemllIn0.PGLdEN6OMe97qmy2golkN6C1UBhReZZI5cQ1kPt4PB0"},{"id":"3211e444.c460dc","type":"firebaseCertificate","firebaseurl":"pumma-uro-default-rtdb","loginType":"email"},{"id":"cfe094f5.83ea88","type":"firebaseCertificate","firebaseurl":"pumma-uro-default-rtdb","loginType":"email"},{"id":"a0ccbdf4.0b9a2","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"852d31d4.7d31a","type":"ui_group","name":"Sensor","tab":"cdfc5e4d.19b7c","order":1,"disp":true,"width":"6","collapse":false},{"id":"8a9f995f.716fb8","type":"ui_group","name":"Gambar","tab":"cdfc5e4d.19b7c","order":3,"disp":true,"width":"6","collapse":false},{"id":"611068dd.e47ee8","type":"ui_group","name":"Raspberry PI","tab":"cdfc5e4d.19b7c","order":2,"disp":true,"width":"6","collapse":false},{"id":"cdfc5e4d.19b7c","type":"ui_tab","name":"Proto","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"927aac7c.e52b9","type":"firebaseCertificate","firebaseurl":"pumma-uro-default-rtdb","loginType":"email"},{"id":"b5573eb0.eb381","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d9abaffd.32b16","type":"ui_group","name":"Sensor","tab":"6810cd81.d04ea4","order":1,"disp":true,"width":"6","collapse":false},{"id":"31f23aba.eb4936","type":"ui_group","name":"Gambar","tab":"6810cd81.d04ea4","order":3,"disp":true,"width":"6","collapse":false},{"id":"997e8ce2.b55c7","type":"ui_group","name":"Raspberry PI","tab":"6810cd81.d04ea4","order":2,"disp":true,"width":"6","collapse":false},{"id":"6810cd81.d04ea4","type":"ui_tab","name":"Proto","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2eac5936.10a866","type":"dropbox-config","name":"pumma-capture"},{"id":"9fd0050d.2c7118","type":"firebaseCertificate","firebaseurl":"pumma-uro-default-rtdb","loginType":"email"},{"id":"43c64a98.b22b34","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"840b10b0.b6575","type":"ui_group","name":"Sensor","tab":"669b9972.885228","order":1,"disp":true,"width":"6","collapse":false},{"id":"ccbf2a17.1768b8","type":"ui_group","name":"Gambar","tab":"669b9972.885228","order":3,"disp":true,"width":"6","collapse":false},{"id":"12d3aab5.bc9545","type":"ui_group","name":"Raspberry PI","tab":"669b9972.885228","order":2,"disp":true,"width":"6","collapse":false},{"id":"669b9972.885228","type":"ui_tab","name":"Proto","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"9a99b837.7a3498","type":"hikvisionUltimatePicture","z":"b67ac6d6.380e28","name":"pummatest","topic":"pumma","server":"f2fc2343.2356d","channelID":"1","rotateimage":"0","heightimage":"","widthimage":"","qualityimage":"80","cropimage":"","textoverlay":"PUMMA URO","textoverlayXY":"10,10","textoverlayWH":"0,0","textoverlayFont":"FONT_SANS_32_WHITE","urlImageCurrentIndex":0,"x":370,"y":240,"wires":[["fbf90dc6.a9ae9"],[]]},{"id":"d3077846.5c6178","type":"dropbox out","z":"b67ac6d6.380e28","dropbox":"f32f15b1.d02508","filename":"","localFilename":"","name":"upload dropbox","x":720,"y":220,"wires":[]},{"id":"6a5ef6d4.b33be8","type":"inject","z":"b67ac6d6.380e28","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"*/2 0-23 * * *","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":240,"wires":[["9a99b837.7a3498"]]},{"id":"e77630e3.8f48","type":"image","z":"b67ac6d6.380e28","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":720,"y":320,"wires":[]},{"id":"fbf90dc6.a9ae9","type":"change","z":"b67ac6d6.380e28","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload","pt":"msg","to":"forEmail","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":515,"y":220,"wires":[["c467e8d.e565f18"]],"l":false},{"id":"c467e8d.e565f18","type":"function","z":"b67ac6d6.380e28","name":"","func":"msg.filename=msg.filename+\".jpg\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":575,"y":220,"wires":[["d3077846.5c6178","e77630e3.8f48"]],"l":false},{"id":"30ba18d0.cd1768","type":"rpi-srf","z":"b67ac6d6.380e28","name":"","topic":"SRF","pulse":"1","pins":"10,8","x":120,"y":440,"wires":[["1c76f3e.838670c"]]},{"id":"44ead5c6.943bfc","type":"debug","z":"b67ac6d6.380e28","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":620,"y":540,"wires":[]},{"id":"e7ef6be0.cabbe8","type":"function","z":"b67ac6d6.380e28","name":"","func":"msg.payload = {\"tinggi\":msg.payload,\"TS\":msg.mytimes,\"Date\":msg.mydate};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":460,"wires":[["95fb5060.edb03","44ead5c6.943bfc"]]},{"id":"95fb5060.edb03","type":"addFirebase","z":"b67ac6d6.380e28","firebaseCertificate":"3211e444.c460dc","client_email":"","private_key":"","data":"","childpath":"PUMMA/TinggiAir","propertyType":"str","method":"push","newchildpath":"","x":670,"y":460,"wires":[[]]},{"id":"1c76f3e.838670c","type":"simpletime","z":"b67ac6d6.380e28","name":"","mydate":true,"myymd":false,"myyear":false,"mymonth":false,"mymonthn":false,"mydom":false,"mydoy":false,"myday":false,"myhourpm":false,"myhour":false,"mytime":false,"mytimes":true,"myminute":false,"myminutes":false,"mysecond":false,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":false,"x":290,"y":460,"wires":[["e7ef6be0.cabbe8"]]},{"id":"1dcbd1da.2e044e","type":"hikvisionUltimatePicture","z":"fd44df4b.ead9a","name":"pummatest","topic":"pumma","server":"f2fc2343.2356d","channelID":"1","rotateimage":"0","heightimage":"","widthimage":"","qualityimage":"80","cropimage":"","textoverlay":"","textoverlayXY":"0,0","textoverlayWH":"0,0","textoverlayFont":"FONT_SANS_32_WHITE","urlImageCurrentIndex":0,"x":250,"y":280,"wires":[["e0df4c4f.30be1"],[]]},{"id":"b472b783.9eafa8","type":"dropbox out","z":"fd44df4b.ead9a","dropbox":"2eac5936.10a866","filename":"","localFilename":"","name":"upload dropbox","x":600,"y":120,"wires":[]},{"id":"6491b79a.ec78a8","type":"inject","z":"fd44df4b.ead9a","name":"","props":[{"p":"payload"}],"repeat":"120","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":280,"wires":[["1dcbd1da.2e044e"]]},{"id":"a3c656e6.a6b6c8","type":"image","z":"fd44df4b.ead9a","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":600,"y":360,"wires":[]},{"id":"e0df4c4f.30be1","type":"change","z":"fd44df4b.ead9a","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload","pt":"msg","to":"forEmail","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":375,"y":280,"wires":[["a4d665cf.f9e738","d06766d4.b51758"]],"l":false},{"id":"a4d665cf.f9e738","type":"function","z":"fd44df4b.ead9a","name":"","func":"msg.filename=msg.filename+\".jpg\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":455,"y":280,"wires":[["b472b783.9eafa8","a3c656e6.a6b6c8","7a6fc0ce.7393a","d7ed5d78.8627e","a032ac7f.1509"]],"l":false},{"id":"58a83c39.e9c6e4","type":"rpi-srf","z":"fd44df4b.ead9a","name":"","topic":"SRF","pulse":"1","pins":"10,8","x":90,"y":680,"wires":[["79040886.b06cd8"]]},{"id":"8fb7fee8.03fa7","type":"debug","z":"fd44df4b.ead9a","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":600,"y":620,"wires":[]},{"id":"8b0464b8.ac9728","type":"function","z":"fd44df4b.ead9a","name":"","func":"msg.payload = {\"tinggi\":msg.payload,\"TS\":msg.mytimes,\"Date\":msg.mydate};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":580,"wires":[["b114c96b.9d8dc8","8fb7fee8.03fa7","a85b901.ae53b7"]]},{"id":"b114c96b.9d8dc8","type":"addFirebase","z":"fd44df4b.ead9a","firebaseCertificate":"927aac7c.e52b9","client_email":"","private_key":"","data":"","childpath":"PUMMA/TinggiAir","propertyType":"str","method":"push","newchildpath":"","x":590,"y":540,"wires":[[]]},{"id":"79040886.b06cd8","type":"simpletime","z":"fd44df4b.ead9a","name":"","mydate":true,"myymd":false,"myyear":false,"mymonth":false,"mymonthn":false,"mydom":false,"mydoy":false,"myday":false,"myhourpm":false,"myhour":false,"mytime":false,"mytimes":true,"myminute":false,"myminutes":false,"mysecond":false,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":false,"x":250,"y":680,"wires":[["8b0464b8.ac9728","77ed5dc.da9e1a4","1eaf1c7.99dabe4"]]},{"id":"4c18f308.c494ec","type":"mqtt out","z":"fd44df4b.ead9a","name":"","topic":"ttombak","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b5573eb0.eb381","x":1320,"y":540,"wires":[]},{"id":"a4c39524.1a24c8","type":"inject","z":"fd44df4b.ead9a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1000,"wires":[["e5359ce.0243e6"]]},{"id":"e5359ce.0243e6","type":"exec","z":"fd44df4b.ead9a","command":"vcgencmd measure_temp","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Raspberry PI CPU Temp","x":350,"y":1000,"wires":[["834ea454.392d38"],[],[]]},{"id":"834ea454.392d38","type":"change","z":"fd44df4b.ead9a","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"temp=","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"'C","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1000,"wires":[["6e4a15c7.4113cc","c0a1a4fa.613c78","eea08444.1ea128","1f3457e1.dd7728"]]},{"id":"6e4a15c7.4113cc","type":"debug","z":"fd44df4b.ead9a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":1100,"wires":[]},{"id":"1be61aea.7f2ee5","type":"ui_text","z":"fd44df4b.ead9a","group":"d9abaffd.32b16","order":2,"width":0,"height":0,"name":"","label":"Tinggi Permukaan Air Laut","format":"{{msg.payload}}","layout":"col-center","x":720,"y":680,"wires":[]},{"id":"77ed5dc.da9e1a4","type":"ui_chart","z":"fd44df4b.ead9a","name":"","group":"d9abaffd.32b16","order":1,"width":"6","height":"6","label":"Grafik Ketinggian Air","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":460,"y":740,"wires":[[]]},{"id":"7a6fc0ce.7393a","type":"base64","z":"fd44df4b.ead9a","name":"","action":"","property":"payload","x":580,"y":240,"wires":[["56bb7c57.fdf424"]]},{"id":"56bb7c57.fdf424","type":"ui_template","z":"fd44df4b.ead9a","group":"31f23aba.eb4936","name":"Display Image","order":1,"width":"6","height":"4","format":"<img src=\"data:image/jpg;base64,{{msg.payload}}\" />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":240,"wires":[[]]},{"id":"19e2a5b.936345a","type":"ui_text","z":"fd44df4b.ead9a","group":"31f23aba.eb4936","order":2,"width":0,"height":0,"name":"","label":"Snap Time","format":"{{msg.payload}}","layout":"col-center","x":990,"y":260,"wires":[]},{"id":"6a5c487b.880f78","type":"function","z":"fd44df4b.ead9a","name":"","func":"msg.payload = `${msg.mytimes} ${msg.mydate}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":300,"wires":[["19e2a5b.936345a","6f15a78b.d6b958"]]},{"id":"d7ed5d78.8627e","type":"simpletime","z":"fd44df4b.ead9a","name":"","mydate":true,"myymd":false,"myyear":false,"mymonth":false,"mymonthn":false,"mydom":false,"mydoy":false,"myday":false,"myhourpm":false,"myhour":false,"mytime":false,"mytimes":true,"myminute":false,"myminutes":false,"mysecond":false,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":false,"x":590,"y":300,"wires":[["6a5c487b.880f78"]]},{"id":"c0a1a4fa.613c78","type":"ui_chart","z":"fd44df4b.ead9a","name":"","group":"997e8ce2.b55c7","order":3,"width":"6","height":"6","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":960,"wires":[[]]},{"id":"c07e637.8a205a","type":"ui_text","z":"fd44df4b.ead9a","group":"997e8ce2.b55c7","order":4,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"col-center","x":950,"y":1040,"wires":[]},{"id":"eea08444.1ea128","type":"function","z":"fd44df4b.ead9a","name":"","func":"msg.payload = `${msg.payload} Celcius`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":1040,"wires":[["c07e637.8a205a"]]},{"id":"1eaf1c7.99dabe4","type":"function","z":"fd44df4b.ead9a","name":"","func":"msg.payload = `${msg.payload} Cm`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":680,"wires":[["1be61aea.7f2ee5"]]},{"id":"1f3457e1.dd7728","type":"function","z":"fd44df4b.ead9a","name":"","func":"msg.payload = {\"suhu\":msg.payload};\nmsg.payload[\"suhu\"] = JSON.parse(msg.payload[\"suhu\"]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":900,"wires":[["a85b901.ae53b7"]]},{"id":"95edc716.d0eee8","type":"debug","z":"fd44df4b.ead9a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":620,"wires":[]},{"id":"a85b901.ae53b7","type":"join","z":"fd44df4b.ead9a","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1130,"y":580,"wires":[["95edc716.d0eee8","4c18f308.c494ec","153dbdb5.2065d2"]]},{"id":"a032ac7f.1509","type":"debug","z":"fd44df4b.ead9a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":180,"wires":[]},{"id":"6f15a78b.d6b958","type":"function","z":"fd44df4b.ead9a","name":"","func":"msg.payload = {\"imgtime\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":340,"wires":[["a85b901.ae53b7"]]},{"id":"153dbdb5.2065d2","type":"http request","z":"fd44df4b.ead9a","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://pumma.kkp.go.id:8080/api/v1/I2ysVmHEiDAhJjkWKaEI/telemetry","tls":"","persist":true,"proxy":"","authType":"","x":1290,"y":380,"wires":[[]]},{"id":"4f37aadd.77bb44","type":"dropbox out","z":"fd44df4b.ead9a","dropbox":"f32f15b1.d02508","filename":"","localFilename":"","name":"upload dropbox","x":600,"y":80,"wires":[]},{"id":"d06766d4.b51758","type":"function","z":"fd44df4b.ead9a","name":"","func":"msg.filename=\"camerapumma.jpg\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":455,"y":80,"wires":[["4f37aadd.77bb44"]],"l":false},{"id":"f335d949.023878","type":"inject","z":"fd44df4b.ead9a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"latitude\":-5.609525,\"longitude\":105.172309}","payloadType":"json","x":900,"y":500,"wires":[["a85b901.ae53b7"]]}]